Create a dictionary

In [2]:
# Create a dictionary mapping names to ages
ages_dict = {
    "Patrick Murphy": 45,
    "Mary Kelly": 23,
    "Thomas Williams": 16,
    "Elizabeth Smith": 34
}

# Print the entire dictionary
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34}

Accessing items

In [5]:
# Get Patrick's age using his name as the key
patricks_age = ages_dict["Patrick Murphy"]
print(f"Patrick Murphy is {patricks_age} years old.")

Patrick Murphy is 45 years old.

Creating a dictionary

In [18]:
celebrity_ages = {
    "Taylor Swift": 35,
    "Olivia Rodrigo": 22,
    "Tom Hanks": 68,
    "Meryl Streep": 75,
}

# Print the entire dictionary
print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 68, 'Meryl Streep': 75}

In [37]:
# Add a new person to our ages dictionary
ages_dict["Michael Sullivan"] = 64
print(ages_dict)

{'Taylor Swift': 40, 'Olivia Rodrigo': 22, 'Tom Hanks': 68, 'Meryl Streep': 75, 'Michael Sullivan': 64, 'Thomas Williams': 17}

In [39]:
# Change someone's age
ages_dict["Thomas Williams"] = 17  # Thomas just had a birthday!
print(f"Updated age for Thomas: {ages_dict['Thomas Williams']}")

Updated age for Thomas: 17

In [41]:
# Change someone's age
ages_dict["Taylor Swift"] = 40  # Taylor just had a birthday!
print(f"Updated age for Taylor: {ages_dict['Taylor Swift']}")

Updated age for Taylor: 40

In [43]:
# Loop through all names and ages
for name in ages_dict:
    print(f"{name} is {ages_dict[name]} years old.")

# A more elegant way using the .items() method
for name, age in ages_dict.items():
    print(f"{name} is {age} years old.")

Taylor Swift is 40 years old.
Olivia Rodrigo is 22 years old.
Tom Hanks is 68 years old.
Meryl Streep is 75 years old.
Michael Sullivan is 64 years old.
Thomas Williams is 17 years old.
Taylor Swift is 40 years old.
Olivia Rodrigo is 22 years old.
Tom Hanks is 68 years old.
Meryl Streep is 75 years old.
Michael Sullivan is 64 years old.
Thomas Williams is 17 years old.

In [45]:
# Find all people over 30
for name, age in ages_dict.items():
    if age > 30:
        print(f"{name} is {age} years old.")

Taylor Swift is 40 years old.
Tom Hanks is 68 years old.
Meryl Streep is 75 years old.
Michael Sullivan is 64 years old.

In [19]:
for name in ages_dict:
  if age > 61 :
    print(f"{name} is A Boomer")
  
  elif age > 29 and age <= 44 :
    print(f"{name} is a Millenial")

NameError: name 'ages_dict' is not defined

In [56]:
# Create one dictionary with all information about each person
census_data = {
    "Patrick Murphy": {
        "age": 45,
        "birth_place": "Ireland",
        "occupation": "farmer"
    },
    "Mary Kelly": {
        "age": 23,
        "birth_place": "Ireland",
        "occupation": "servant"
    },
    "Thomas Williams": {
        "age": 17,
        "birth_place": "Wales",
        "occupation": "laborer"
    },
    "Elizabeth Smith": {
    "age": 34,
    "birth_place": "England",
    "occupation": "servant"
    }
}

In [58]:
for name, info in census_data, items():
    print（name)
    print (info)

SyntaxError: invalid character '（' (U+FF08) (1242064403.py, line 2)

In [60]:
# Access data from our nested dictionary
print(census_data["Patrick Murphy"])
print(census_data["Patrick Murphy"]["occupation"])

{'age': 45, 'birth_place': 'Ireland', 'occupation': 'farmer'}
farmer

In [21]:
# Start with an empty dictionary
auto_census = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    auto_census[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

NameError: name 'names' is not defined

In [23]:
auto_census

{}